@page
@model Booker.Web.Pages.BookEventConfirmationModel
@{
    ViewData["Title"] = "Book Event Confirmation";
}


<h1 class="display-3">Your event is booked</h1>
<p class="lead"> at our......place</p>

<p>
    Hi @Model.FirstName,
</p>

<p>
    A event was booked for you 
    on <strong>@Model.Date.ToShortDateString()</strong>.<br />
    Your booking numer is <strong>@Model.EventBookingId</strong>.<br />
    We'are looking forward to seeing you'
</p>


<div>
    <a class="btn-primary btn" style="margin-top: 2rem" asp-area="" asp-page="/BookEvent">Book another event</a> 
</div>
