@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<h1 class="display-4">Welcome to Super Event Book</h1>

<div class="card">
    <div class="card-header">
        Book a event
    </div>
    <div class="card-body">
        <p>
            Now you can book a event for where you want
        </p>
        <a  href="/bookEvent" class="btn btn-primary">Book a event</a>
    </div>
</div>
